@model Monitoreo.Models.Regional

@{
    ViewBag.Title = String.Format(Resources.T.ResourceManager.GetString("CreandoX"), Resources.T.ResourceManager.GetString("Regional"));
}

<script type="text/javascript">
    $(function () {
        $("#ProvinciaId").change(function () {
            var selectedItem = $(this).val();
            var ddlMunicipio = $("#MunicipioId");
            var MunicipioProgress = $("#states-loading-progress");
            ddlMunicipio.html('');
            ddlMunicipio.append($('<option></option>').val(-1).html('Cargando...'));
            $.ajax({
                cache: false,
                type: "GET",
                url: "@(Url.Action("GetMunicipios", "Provincia"))",
                data: { "Id": selectedItem },
                success: function (data) {
                    ddlMunicipio.html('');
                    $.each(data, function (id, option) {
                        ddlMunicipio.append($('<option></option>').val(option.id).html(option.name));
                    });
                    MunicipioProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve Municipios.');
                    MunicipioProgress.hide();
                }
            });
        });
    });
</script>

<div class="panel-heading">
    <h3>@ViewBag.Title</h3>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="panel-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)

                @Html.EditorFor(model => model.Codigo)
                @Html.EditorFor(model => model.Nombre)
                <div class="form-group">
                    @Html.LabelFor(model => model.DirectorId, Resources.T.ResourceManager.GetString("Director"), new { @class = "control-label col-sm-3" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.DirectorId, (IEnumerable<SelectListItem>)ViewBag.DirectorId,"Seleccionar...", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DirectorId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProvinciaId, Resources.T.ResourceManager.GetString("Provincia"), new { @class = "control-label col-sm-3" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.ProvinciaId, (IEnumerable<SelectListItem>)ViewBag.ProvinciaId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProvinciaId)
                        <span id="states-loading-progress" style="display: none;">Please wait..</span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MunicipioId, Resources.T.ResourceManager.GetString("Municipio"), new { @class = "control-label col-sm-3" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.MunicipioId, (IEnumerable<SelectListItem>)ViewBag.MunicipioId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MunicipioId)
                    </div>
                </div>
                @Html.EditorFor(model => model.Sector)
                @Html.EditorFor(model => model.Calle)
            @Html.EditorFor(model => model.Telefono)
            @Html.EditorFor(model => model.CorreoElectronico)
            @Html.EditorFor(model => model.SitioWeb)
        </div>
    </div>
    <div class="panel-footer">
        <button type="submit" value="Create" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Guardar")
        </button>
        <script>
            document.write(
            '<a href="' + document.referrer + '" class="btn btn-default">' +
                '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Cancelar")' +
            '</a>');
        </script>
    </div>
}


@section Actions {
    <ul class="nav nav-stacked">
        <li>@Html.ActionLink(Resources.T.ResourceManager.GetString("Volver"), "Index")</li>
    </ul>
}

