@model IEnumerable<Monitoreo.Models.Centro>


<script src="~/Content/js/tableExport/tableExport.js"></script>
<script src="~/Content/js/tableExport/jspdf/jspdf.js"></script>
<script src="~/Content/js/tableExport/jquery.base64.js"></script>



<div class="panel-body">
    <table class="table table-bordered table-striped table-hover" id="dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>

                <th>
                    @Html.DisplayName("Red")
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>

                <th>@Resources.T.ResourceManager.GetString("Acciones")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Red.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>

                    <td class="row-actions">
                        <a href="@Url.Action("Details", new { id = item.Id, MasterType = ViewBag.MasterType, MasterId = ViewBag.MasterId })" class="btn btn-default">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Detalles")
                        </a>


                        @{
                            if (User.IsInRole("Administrador"))
                            {
                                <a href="@Url.Action("Edit", new { id = item.Id, MasterType = ViewBag.MasterType, MasterId = ViewBag.MasterId })" class="btn btn-default">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Editar")
                                </a>
                                 <a href="@Url.Action("Delete", new { id = item.Id, MasterType = ViewBag.MasterType, MasterId = ViewBag.MasterId })" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Borrar")
                                </a>
                             }

                        }



                       
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <div class="btn-group">
        <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar tabla</button>
        <ul class="dropdown-menu " role="menu">

            <li><a href="#" onclick="$('#dataTable').tableExport({ type: 'xml', escape: 'false' });"> <img src='http://ngiriraj.com/pages/htmltable_export/icons/xml.png' width='24px'> XML</a></li>
            <li><a href="#" onclick="$('#dataTable').tableExport({ type: 'sql' });"> <img src='http://ngiriraj.com/pages/htmltable_export/icons/sql.png' width='24px'> SQL</a></li>
            <li class="divider"></li>
            <li><a href="#" onclick="$('#dataTable').tableExport({ type: 'csv', escape: 'false' });"> <img src='http://ngiriraj.com/pages/htmltable_export/icons/csv.png' width='24px'> CSV</a></li>
            <li><a href="#" onclick="$('#dataTable').tableExport({ type: 'txt', escape: 'false' });"> <img src='http://ngiriraj.com/pages/htmltable_export/icons/txt.png' width='24px'> TXT</a></li>
            <li class="divider"></li>

            <li><a href="#" onclick="$('#dataTable').tableExport({ type: 'excel', escape: 'false' });"> <img src='http://ngiriraj.com/pages/htmltable_export/icons/xls.png' width='24px'> XLS</a></li>
            <li><a href="#" onclick="$('#dataTable').tableExport({ type: 'doc', escape: 'false' });"> <img src='http://ngiriraj.com/pages/htmltable_export/icons/word.png' width='24px'> Word</a></li>
            <li><a href="#" onclick="$('#dataTable').tableExport({ type: 'powerpoint', escape: 'false' });"> <img src='http://ngiriraj.com/pages/htmltable_export/icons/ppt.png' width='24px'> PowerPoint</a></li>
            <li class="divider"></li>
            <li><a href="#" onclick="$('#dataTable').tableExport({ type: 'png', escape: 'false' });"> <img src='http://ngiriraj.com/pages/htmltable_export/icons/png.png' width='24px'> PNG</a></li>
            <li><a href="#" onclick="$('#dataTable').tableExport({ type: 'pdf', pdfFontSize: '7', escape: 'false' });"> <img src='http://ngiriraj.com/pages/htmltable_export/icons/pdf.png' width='24px'> PDF</a></li>


        </ul>
    </div>	

</div>

