@model Monitoreo.Models.BO.EvaluacionAcompanamiento.EvaluacionAcompanamiento

@{
    ViewBag.Title = String.Format(Resources.T.ResourceManager.GetString("CreandoX"), Resources.T.ResourceManager.GetString("EvaluacionAcompanamiento"));
}

<div class="panel-heading">
    <h3>@ViewBag.Title</h3>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="panel-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)

                @Html.EditorFor(model => model.Titulo)
                @Html.EditorFor(model => model.TipoEvaluacionAcomp)
               
                @Html.EditorFor(model => model.creadoPor)
        </div>
    </div>
    <div class="panel-footer">
        <button type="submit" value="Create" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Guardar")
        </button>
        <script>
            document.write(
            '<a href="' + document.referrer + '" class="btn btn-default">' +
                '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Cancelar")' +
            '</a>');
        </script>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section Actions {
    <ul class="nav nav-stacked">
        <li>@Html.ActionLink(Resources.T.ResourceManager.GetString("Volver"), "Index")</li>
    </ul>
}

