@model Monitoreo.Models.Estudiante

@{
    ViewBag.Title = String.Format(Resources.T.ResourceManager.GetString("CreandoX"), Resources.T.ResourceManager.GetString("Estudiante"));
}

<div class="modal fade" id="CreateModalEstudiante" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Create", "Estudiante", new { MasterType = ViewBag.MasterType, MasterId = ViewBag.MasterId }))
            {
                @Html.AntiForgeryToken()

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@ViewBag.Title</h4>
                </div>
                <div class="modal-body">

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.PersonaId, Resources.T.ResourceManager.GetString("Persona"), new { @class = "control-label col-sm-3" })
                            <div class="col-sm-5">
                                @Html.TextBoxFor(x => x.PersonaId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PersonaId)
                            </div>
                        </div>
                        @Html.EditorFor(model => model.Matricula)
                        @if (@Request.Params["MasterType"] == "Centro")
                        {
                            @Html.Hidden("CentroId", Request.Params["MasterId"]);
                        }
                        else
                        {
                        <div class="form-group">
                            @Html.LabelFor(model => model.CentroId, Resources.T.ResourceManager.GetString("Centro"), new { @class = "control-label col-sm-3" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.CentroId, (IEnumerable<SelectListItem>)ViewBag.CentroId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CentroId)
                            </div>
                        </div>
                        }
                        @Html.EditorFor(model => model.Nivel)
                        @Html.EditorFor(model => model.Ciclo)
                        @Html.EditorFor(model => model.Tanda)
                        @Html.EditorFor(model => model.Grado)
                        <div class="form-group">
                            @Html.LabelFor(model => model.SeccionId, Resources.T.ResourceManager.GetString("Seccion"), new { @class = "control-label col-sm-3" })
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.SeccionId, (IEnumerable<SelectListItem>)ViewBag.SeccionId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SeccionId)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" value="Create" class="btn btn-primary">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Guardar")
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Cancelar")
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content/js/personaSelect2imp.js"></script>