@using BootstrapEditorTemplatesNameSpace.Utility
@model Monitoreo.Models.Acompanante

<div class="panel-heading">
    <h3>Crear Nuevo Acompañante</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.centroId, Resources.T.ResourceManager.GetString("Centro"), new { @class = "control-label col-sm-3" })
                <div class="col-sm-4">
                    @Html.DropDownListFor(x => x.centroId, (IEnumerable<SelectListItem>)ViewBag.CentroId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.centroId)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Nueva Persona?", new { @class = "control-label col-sm-3" })
                <div class="col-sm-4">
                    <input type="radio" class="chkNuevaPersona" name="nuevaPersona" value="0" checked> No<br>
                    <input type="radio" class="chkNuevaPersona" name="nuevaPersona" value="1"> Si<br>
                </div>
            </div>

            <div id="personaIdDropDown" class="form-group">
                @Html.LabelFor(model => model.PersonaId, Resources.T.ResourceManager.GetString("Persona"), new { @class = "control-label col-sm-3" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.PersonaId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PersonaId)
                </div>
            </div>


            <div id="cedulaPersona" class="form-group">
                @Html.Label("Cédula", new { @class = "control-label col-sm-3" })
                <div class="col-sm-4">
                    @Html.TextBox("cedula", "", new { @class = "form-control", name = "cedula" })
                </div>
            </div>
            <div id="nombrePersona" class="form-group">
                @Html.Label("Nombre", new { @class = "control-label col-sm-3" })
                <div class="col-sm-4">
                    @Html.TextBox("nombres", "", new { @class = "form-control", name = "nombres" })
                </div>
            </div>

            <div id="apellidoPersona" class="form-group">
                @Html.Label("Primer Apellido", new { @class = "control-label col-sm-3" })
                <div class="col-sm-4">
                    @Html.TextBox("apellido", "", new { @class = "form-control", name = "apellido" })
                </div>
            </div>

            <div id="sexoPersona" class="form-group">
                @Html.Label("Sexo", new { @class = "control-label col-sm-3" })
                <div class="col-sm-4">
                    @Html.DropDownList("sexo", (IEnumerable<SelectListItem>)ViewBag.Sexo, new { @class = "form-control" })
                </div>
            </div>

            <div id="fechaNacimientoPersona" class="form-group">
                @Html.Label("Fecha Nacimiento", new { @class = "control-label col-sm-3" })
                <div class="col-sm-4">
                    <input name="fechaNacimiento" type="date" class="form-control" />
                </div>
            </div>
                @Html.EditorFor(model => model.Email)   

            <div class="form-group">
                @Html.Label("Crear Usuario", new { @class = "control-label col-sm-3" })
                <div class="col-sm-4">
                    <input type="checkbox" name="CreateUser" value="1" checked="checked"> Si
                    <input type="checkbox" name="CreateUser" value="0"> No
                </div>
            </div>



        </div>

    </div>
    <div class="panel-footer">
        <button type="submit" value="Create" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Guardar")
        </button>
    </div>
}

<script type="text/javascript" src="~/Content/js/personaSelect2imp.js"></script>


<script type="text/javascript">
    var cantidadMateria = 0;
    var createPersona = false;
    $(function () {
        $("#cedulaPersona").hide();
        $("#nombrePersona").hide();
        $("#sexoPersona").hide();
        $("#fechaNacimientoPersona").hide();
        $("#apellidoPersona").hide();

        //envia el formulario
        $('form').submit(function () {
            var ok = true;
            if (createPersona == true) {
               if($("#nombres").val() == ""){
                    ok = false;
                    alert("Nombre vacio!");
                    return false;
                }
                if ($("#cedula").val() == "") {
                    ok = false;
                    alert("Cedula vacia!");
                }

            }

            if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            if (result.result == "OK") {
                                $('#CreateModal').modal('toggle');
                                alert("Personal Administrativo inscrito exitosamente!");
                                table.draw();
                            }
                            if (result.result == "ERROR_CEDULA") {
                                alert("Favor veficar el formato de la cédula! 000-0000000-0");
                            }
                            if (result.result == "ERROR_DOCENTE_REPETIDO") {
                                alert("El Personal Administrativo está repetido en este centro!");
                            }

                        }
                    });
            }
            return false;
        });


    });


        $(".chkNuevaPersona").change(function () {
            if ($(this).val() == 1) {
                $("#personaIdDropDown").hide();
                $("#cedulaPersona").show();
                $("#nombrePersona").show();
                $("#sexoPersona").show();
                $("#fechaNacimientoPersona").show();
                $("#apellidoPersona").show();
                createPersona = true;
            }
            else {
                $("#personaIdDropDown").show();
                $("#cedulaPersona").hide();
                $("#nombrePersona").hide();
                $("#sexoPersona").hide();
                $("#fechaNacimientoPersona").hide();
                $("#apellidoPersona").hide();
                $("#cedula").val("");
                $("#nombres").val("");
                createPersona = false;
            }
        });


</script>


