@model Monitoreo.Models.Personal

@{
    ViewBag.Title = String.Format(Resources.T.ResourceManager.GetString("CreandoX"), Resources.T.ResourceManager.GetString("Personal"));
}

<div class="panel-heading">
    <h3>@ViewBag.Title</h3>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="panel-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)

                @Html.EditorFor(model => model.Codigo)
                <div class="form-group">
                    @Html.LabelFor(model => model.PersonaId, "PersonaId", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.PersonaId, (IEnumerable<SelectListItem>)ViewBag.PersonaId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PersonaId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CentroId, "CentroId", new { @class = "control-label col-sm-3" })
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.CentroId, (IEnumerable<SelectListItem>)ViewBag.CentroId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CentroId)
                    </div>
                </div>
                @Html.EditorFor(model => model.FechaContratacion)
                @Html.EditorFor(model => model.FuncionesEjerce)
                @Html.EditorFor(model => model.Tanda)
        </div>
    </div>
    <div class="panel-footer">
        <button type="submit" value="Create" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Guardar")
        </button>
        <script>
            document.write(
            '<a href="' + document.referrer + '" class="btn btn-default">' +
                '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Cancelar")' +
            '</a>');
        </script>
    </div>
}


@section Actions {
    <ul class="nav nav-stacked">
        <li>@Html.ActionLink(Resources.T.ResourceManager.GetString("Volver"), "Index")</li>
    </ul>
}

