@model Monitoreo.Models.BO.PlanMejora.Objetivo

@{
    ViewBag.Title = String.Format(Resources.T.ResourceManager.GetString("BorrandoX"), Resources.T.ResourceManager.GetString("Objetivo"));
}

<div class="panel-heading">
    <h3>@ViewBag.Title</h3>
</div>

<div class="panel-body">
    <h3>@Html.Raw(String.Format(Resources.T.ResourceManager.GetString("BorrarConfirmacion"), Resources.T.ResourceManager.GetString("Objetivo")))</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AmbitoObjetivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmbitoObjetivo.codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanMejoraCentro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanMejoraCentro.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="panel-footer">
            <button type="submit" value="Delete" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("Si")
            </button>
            <script>
            document.write('<a href="' + document.referrer + '" class="btn btn-default">' +
                '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> @Resources.T.ResourceManager.GetString("No")</a>');
            </script>
        </div>
    }
</div>

@section Actions {
    <ul class="nav nav-stacked">
        <li>@Html.ActionLink(Resources.T.ResourceManager.GetString("Volver"), "Index")</li>
    </ul>
}
